<plugin name='slack-logger' version='1.0.0' grailsVersion='2.3 &gt; *'>
  <author>TheConnMan</author>
  <authorEmail>brian@theconnman.com</authorEmail>
  <title>Slack Logger</title>
  <description>Slack Logger is a custom log4j appender which logs directly to a Slack channel.</description>
  <documentation>https://github.com/TheConnMan/SlackLogger</documentation>
  <type>SlackLoggerGrailsPlugin</type>
  <resources>
    <resource>com.theconnman.slacklogger.TestController</resource>
  </resources>
</plugin>